<div class="container">
  <div class="mat-headline-2">Hello, Angela!</div>
  <div class="board">
    <mat-card class="item">
      <mat-card-content>
        <div class="card-heading center">hours worked</div>
        <div class="center">this week</div>
        <div class="mat-headline-1 item-content negative" >25,3</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="item">
      <mat-card-content>
        <div class="card-heading center">hour balance</div>
        <div class="center">in total</div>
        <div class="mat-headline-1 item-content positive">+ 3,2</div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
