<div class="p-12 cursor-default">
  <div class="mat-headline-2">Hello,
    <span *ngIf="settingsService.user_name">{{ settingsService.user_name }}!</span>
    <span *ngIf="!settingsService.user_name">Unknown!</span>
  </div>
  <div *ngIf="settingsService.weeklyHours && settingsService.breakDurationMinutes" class="grid grid-cols-2 gap-12 max-sm:grid-cols-1" >
    <mat-card class="min-w-56 max-w-xl">
      <mat-card-content class="text-center">
        <div class="text-xl">hours worked</div>
        <div>this week</div>
        <div class="text-8xl max-md:text-6xl max-sm:text-8xl font-bold p-6"
             [ngClass]=" hoursCurrWeek < settingsService.weeklyHours ? 'text-red-500' :'text-lime-500'">{{ hoursCurrWeek | number: '1.0-1' }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="min-w-56 max-w-xl">
      <mat-card-content class="text-center">
        <div class="text-xl">hour balance</div>
        <div>in total</div>
        <div class="text-8xl max-md:text-6xl max-sm:text-8xl font-bold p-6"
             [ngClass]=" curBalance < 0 ? 'text-red-500' :'text-lime-500'">
          <span *ngIf="curBalance > 0">+</span>{{ curBalance | number: '1.0-1' }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="!settingsService.weeklyHours || !settingsService.breakDurationMinutes " class="text-center text-gray-400 text-lg">
    Base values not set.
    Set base values in Settings.
  </div>
</div>
