<div class="container">
  <h2>Settings</h2>
<!--  <label>Weekly Working Hours</label>-->
<!--  <br>-->
<!--  <mat-form-field style="width:160px">-->
<!--    <input matInput value="38,5">-->
<!--    <span matTextSuffix>h</span>-->
<!--  </mat-form-field>-->
<!--  <br>-->
<!--  <mat-label>Break Duration</mat-label>-->
<!--  <br>-->
<!--  <mat-form-field style="width:160px">-->
<!--    <input matInput value="45">-->
<!--    <span matTextSuffix>min</span>-->
<!--  </mat-form-field>-->
  <table>
    <tr>
      <td>
        <mat-label>Weekly Working Hours</mat-label>
      </td>
      <td>
        <mat-form-field style="width:120px">
          <input matInput type="number" [(ngModel)]="weeklyHours">
          <span matTextSuffix>h</span>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-label>Break Duration</mat-label>
      </td>
      <td>
        <mat-form-field style="width:120px">
          <input matInput type="number" [(ngModel)]="breakDuration">
          <span matTextSuffix>min</span>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <button mat-raised-button (click)="saveSettings()">Save</button>

</div>
