<div class="p-12 cursor-default">
  <h2>Settings</h2>
  <mat-card class="min-w-48 max-w-2xl">
    <mat-card-content class="text-yellow-500">
      <mat-icon class="inline-block align-middle">info</mat-icon>
      <div class="inline-block align-middle ml-2">NOTE: changing the values affects all your stored data!</div>
    </mat-card-content>
  </mat-card>
  <table class="mt-5">
    <tr>
      <td>
        <mat-label>User name</mat-label>
      </td>
      <td>
        <mat-form-field class="w-48">
          <input matInput type="text" [(ngModel)]="settingsService.user_name" (change)="saveSettings()">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-label>Weekly Working Hours</mat-label>
      </td>
      <td>
        <mat-form-field class="w-32">
          <input matInput type="number" [(ngModel)]="settingsService.weeklyHours" (change)="saveSettings()">
          <span matTextSuffix>h</span>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-label>Break Duration</mat-label>
      </td>
      <td>
        <mat-form-field class="w-32">
          <input matInput type="number" [(ngModel)]="settingsService.breakDurationMinutes" (change)="saveSettings()">
          <span matTextSuffix>min</span>
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>
