<div class="container">
  <h2>TimeSheet</h2>
  <div class="grid grid-cols-3 place-items-center">
    <button class="place-self-start" mat-icon-button (click)="previousWeek()" [disabled]="isLast" matTooltip="go to previous week"
            matTooltipShowDelay="1000">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="text-center font-bold">KW {{ curWeek.cw }}
      - {{ curWeek.year }}
    </div>
    <div class="place-self-end">
      <button mat-icon-button (click)="nextWeek()" [hidden]="isFirst" matTooltip="go to next week"
              matTooltipShowDelay="1000">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button mat-icon-button (click)="addNewWeek()" [hidden]="!isFirst" matTooltip="add new week"
              matTooltipShowDelay="1000">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </div>
  <div>
    <div class="grid grid-cols-6 gap-2 pr-4 pl-4 mt-2">
      <div>DAY</div>
      <div>DATE</div>
      <div>START</div>
      <div>END</div>
      <div>DURATION</div>
      <div>
        <span class="place-self-start align-top">ABSENT</span>
        <span><mat-icon class="ml-1" [inline]="true" matTooltip="sick/holidays/vacation">help_outline</mat-icon></span></div>
    </div>
    <mat-card *ngFor="let entry of curWeek.timeEntries" class="mt-2" [ngClass]="{'text-gray-300': entry.absent}">
      <mat-card-content>
        <div class="grid grid-cols-6 gap-2">
          <div>{{ entry.day }}</div>
          <div>{{ entry.date }}</div>
          <div>
            <input type="time" [(ngModel)]="entry.startTime" class="w-1/2" (change)="saveData()" [disabled]="entry.absent">
          </div>
          <div>
            <input type="time" [(ngModel)]="entry.endTime" class="w-1/2" (change)="saveData()" [disabled]="entry.absent">
          </div>
          <div id="timeDiff">{{ calcTimeDifference(entry.startTime, entry.endTime) }} h</div>
          <div>
            <input type="checkbox" [(ngModel)]="entry.absent" (change)="saveData()">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class=" grid grid-cols-6 gap-2 pr-4 pl-4 mt-5 text-xl">
    <span class="font-bold col-start-4 place-self-end">Total: </span>
    <span>{{ calcTotalTime() }} h</span>
  </div>
</div>

